page-home {
    .Direita .Esquerda .Centro{
        border-top: solid 3px #ed1164;
        width: 33.2%;
        height: 150px;
        position: absolute;
        top: 20%;
    }
    .icone-destaque{
        font-size: 6.0em;
    }

    .destaque-Esquerda{
        color: #ed1164;
        font-weight: bold;
    }
    .teste{
        color: gray;
    }
    h3{
        color: #f7941e;
        font-size: 4.0em;
        font-family: 'Trebuchet MS', sans-serif
    }
    .OqueVoceProcura{
        
    }
}
